<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz MUNCH</title>
    <link rel="stylesheet" href="/styles/quiz.css">
</head>
<body>
 <header class="header">
    <div class="headerConatiner">
        <div class="logo">
            <span class="logo_text">
                QUIZ MUNCH
            </span>
        </div>
        <div class="headerhome">
            <span class="Home">
                Home
                <div class="Rectangle"></div>
            </span>
            <span class="Home">
                Search
            </span>
            <span class="Home">
                Help
            </span>
            <span class="Home">
                Feedback
            </span>
        </div>
        <div class="headerNotification">
            <div class="Bell">
            </div>
            <span class="notificationtext">
                Notifications
            </span>
            <div class="Frame-35">
                <span class="RB">
                    AKS
                </span>
                <div class="Frame-34">
                    <p><i class="arrow down"></i></p>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <h1></h1><br>
    <div class="ContainerShadow1">
        <div class="QuizProgressheader">
            <h1 class="Quiz-Progress">
                Quiz Progress
            </h1>
        </div>
        <div class="backgroundColourProgressQuizzes">
            <div class="ProgressQuizzesText">
                <br>
                <span class="Overall-Progress-of-Quizzes">
                    Overall Progress of Quizzes
                </span>

                <div class="progress1">
                    <div class="progressQuizzesComplete"></div>
                    <span class="Pending-Quizzes">
                        Completed Quizzes - 3
                    </span>
                </div>

                <div class="progress1">
                    <div class="progressQuizzesPending"></div>
                    <span class="Pending-Quizzes">
                        Pending Quizzes - 7
                    </span>
                </div>
            </div>
        </div>
        <div class="upcomingQuizborder">
            <div class="upcomingQuizheader">
                <h1 class="Upcoming-Quizzes-Due">
                    Upcoming Quizzes Due
                </h1>
            </div>
            <div class="FrContainerborder1">
                <span class="Course---Date--">
                    Course -
                    Date -
                </span>
                <span class="upcomingquizeCource">
                    Quiz on Data Structures<br>
                    Feb 26
                </span>
            </div>
            <div class="FrContainerborder1">
                <span class="Course---Date--">
                    Course -
                    Date -
                </span>
                <span class="upcomingquizeCource">
                    Quiz on AIML<br>
                    Feb 28
                </span>
            </div>
            <div class="FrContainerborder1">
                <span class="Course---Date--">
                    Course -
                    Date -
                </span>
                <span class="upcomingquizeCource">
                    Quiz on Operating System<br>
                    March 05
                </span>
            </div>
            <div class="FrContainerborder1">
                <span class="Course---Date--">
                    Course -
                    Date -
                </span>
                <span class="upcomingquizeCource">
                    Quiz on DBMS <br>
                    March 09
                </span>
            </div>
        </div>
    </div>
    <br>
</main>
<h1></h1><br>

<footer>
    <div class="footer">
        <span class="All-Rights-Reserved-UPES-Quiz-Portal">
            All Rights Reserved | UPES Quiz Portal
        </span>
        <div class="SocialMedia">
            <div class="Instagram">
                <img class="imgbackgroundClr" src="/Image/Instagram_logo.png">
            </div>
            <div class="TwitterX">
                <div class="TwitterX">
                    <img class="imgbackgroundClr" src="/Image/twitter.png">
                </div>
            </div>
            <div class="LinkedIn">
                <img class="imgbackgroundClr" src="/Image/LinkedIn_logo.png">
            </div>
            <div class="Facebook">
                <img class="imgbackgroundClr" src="/Image/Facebook_f_logo.png">
            </div>
        </div>

    </div>
</footer>
</body>

</html>
